
body {
  background-color: #F0EDE5;
}

@media only screen and (min-width: 768px) {
  
  .col-sm-8 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto
  }

  #search{
    position: relative;
    top: 50%;
    transform: translateY(50%);
  }

}
